<%= form_with model: @resume, local: true do |form| %>
  <p>
    <%= form.label :file, "ファイルを選択" %><br>
    <%= form.file_field :file %>
  </p>
  <p>
    <%= form.submit "Create Resume" %>
  </p>
<% end %>